{% extends 'layout.html' %}

{% block body %}
    <div class="grid-75">
        <h1>{{ user.username }}'s Profile</h1>
        <table>
            <h2>Profile Data</h2>
            <tr><td>Avatar:</td><td>{% if profile.avatar %} <img src={{ profile.avatar.url }}> {% else %} <td>None</td> {% endif %}</td></tr>
            <tr><td>First Name:</td> <td>{% if profile.first_name %} {{ profile.first_name }} {% else %} <td>None</td>{% endif %}</td></tr>
            <tr><td>Last Name:</td> <td>{% if profile.last_name %} {{ profile.last_name }} {% else %} <td>None</td>{% endif %}</td></tr>
            <tr><td>Date of Birth:</td><td>{% if profile.dob %} {{ profile.dob }} {% else %}<td>None</td> {% endif %}</td></tr>
            <tr><td>Bio:</td><td>{% if profile.bio %} {{ profile.bio }} {% else %} <td>None</td> {% endif %}</td></tr>
        </table>
        <p><button type="button"><a href="{% url 'edit_profile' %}">Edit Profile</a></button></p>
       <table>
            <h2>Account Data</h2>
            <tr><td>Email:</td><td>{% if profile.email %} {{ profile.email }} {% else %} <td>None</td> {% endif %}</td></tr>
            <tr><td>Password:</td><td>{% if profile.password %} {{ profile.password }} {% else %} <td>*******</td> {% endif %}</td></tr>
       </table>
        <button type="cancel"><a href="{% url 'change_email' %}"> Change Email </a></button>
        <button type="cancel"><a href="{% url 'change_password' %}"> Change Password </a></button>
    </div>
{% endblock %}